html {
  --interface0: #000;
  --interface100: #1b3177e0;
  --interface200: #0c1227e0;
  --interface300: #071028;
  --interface800: #adafcc;
  --interface900: #e2e6f6;
  --accentColor: rgb(47, 85, 193);
  --smallRadius: 1rem;
  --bigRadius: 2.2rem;
}

@media (orientation: landscape) {
  html {
    --contentWidth: 100rem;
    --contentHeight: 60rem;
  }
}
@media (orientation: portrait) {
  html {
    --contentWidth: 65rem;
    --contentHeight: 120rem;
  }
}

.permanentHide {
  visibility: hidden !important;
}
.hideUI {
  animation: hide 0.5s forwards;
}
@keyframes hide {
  0% {opacity: 1;}
  99% {opacity: 0; transform: translateX(var(--UIanimDelta));}
  100% {opacity: 0; visibility: hidden;}
}
.showUI {
  animation: show 0.5s forwards;
}
@keyframes show {
  0% {opacity: 0; transform: translateX(var(--UIanimDelta));}
  100% {opacity: 1;}
}

.background {
  position: fixed;
  width: 100vw; height: 100vh;
  top: 0; left: 0;
  --centerColor: 11, 18, 37;
  --frontierColor: 5, 16, 47;
  background-image: radial-gradient(circle,
    rgba(var(--centerColor), 0.6) 20%,
    rgba(var(--frontierColor), 0.83) 100%);
  /*backdrop-filter: blur(3px);*/
}
.background.win {
  --centerColor: 30, 96, 37;
  /*--frontierColor: 5, 43, 47;*/
}
.background.lose {
  --centerColor: 96, 34, 30;
  /*--frontierColor: 47, 5, 5;*/
}
.popup {
  width: 75rem; height: 45rem;
  flex-direction: column;
  background-color: aliceblue;
  border-radius: var(--bigRadius);
  /*box-shadow: 0 1rem 2rem #0d0c28ba;*/
  box-shadow: 0 1rem 2rem #12113152;
}
.contentBlock {
  width: var(--contentWidth);
  height: var(--contentHeight);
  flex-direction: column;
}
.fullScreen {
  width: 100vw; height: 100vh;
}
.popup:not(.fullScreen), .contentBlock {
  transform: scale(1.15);
}
.title {
  grid-area: title;
  font-size: 4.2em;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  color: var(--interface300);
}
.popup > .button {
  margin: 1rem 0 1rem 0;
}

.popupTitle {
  color: var(--interface300);
  font-weight: 700;
  font-size: 3.7em;
  text-align: center;
  margin: 4rem;
}

button, .button {
  font-weight: 700;
  font-size: 3em;
  padding: 2.9rem 3.5rem;
  margin: 2rem;
  background-color: var(--interface200);
  color: #ffffff;
  border-radius: var(--bigRadius);
  border: 0.7rem solid var(--interface800);
  box-shadow: 0rem 0.5rem 0rem var(--interface900);
  outline: none;
}
a { cursor: default; }
a.button { text-decoration: none; }
button[disabled] {
  cursor: default;
  opacity: 0.8;
}
button.primary, .button.primary {
  background-color: var(--interface300);
}
button.secondary, .button.secondary {
  background-color: var(--interface900);
  color: var(--interface300);
}
button.small, .button.small {
  font-size: 2.7em;
  padding: 2.0rem 2.4rem;
  margin: 0 1.5rem;
}
button, .button, .clickable {
  transition: transform 0.3s;
  --rotate: 0;
}
@media (hover: hover) and (pointer: fine) {
  button, .button, a, .clickable, .goal, .subGoal {
    cursor: pointer;
  }
}
button:active:not(:disabled),
.button:active:not(:disabled),
.clickable:active:not(:disabled) {
  transform: scale(0.95) rotateZ(var(--rotate)) !important;
}
