#header {
  width: inherit; height: 15rem;
}
#container {
  width: inherit; height: 89rem;
  flex-direction: column;
  border-radius: var(--bigRadius);
  background-color: var(--interface900);
  --innerWidth: 58rem;
}

#icon {
  width: 7rem; height: 7rem;
  background-image: url('../Assets/logo.png');
}
#qrCode {
  width: 20rem; height: 20rem;
  margin: 0 0 5rem;
  background-image: url('../Assets/qr.png');
}
#updateBanner {
  width: var(--innerWidth); height: 19rem;
}
#updateBanner.startBanner { height: 38rem; }
#icon, #qrCode, #updateBanner {
  border-radius: var(--smallRadius);
}
.gameBanner {
  margin-top: 1rem;
  background-image: url('../Assets/Updates/lab.png');
}

#descContainer {
  width: var(--innerWidth);
  margin-top: 3rem;
  overflow: hidden auto;
}
.gameDesc { height: 23rem; }
.updateDesc { height: 34rem; }
.startDesc { height: 12rem; }
#descText {
  font-size: 3em;
  word-break: break-word;
  color: var(--interface300);
}

.hint {
  font-size: 2.4rem;
  font-weight: 800;
  color: var(--interface200);
}
.bottomHint { margin-bottom: 3rem; }

#openText { margin: 2rem; }

#open, #download, #start { text-align: center; }
#open { min-width: 29.5rem; margin: 0; }
#download, #start { min-width: 30rem; }

#telegram { margin: 3rem; }
