#header {
  width: inherit; height: 15rem;
}
#container {
  width: inherit; height: 89rem;
  flex-direction: column;
  border-radius: var(--bigRadius);
  background-color: var(--interface900);
  --innerWidth: 58rem;
}

#icon {
  width: 7rem; height: 7rem;
  background-image: url('../Assets/logo.png');
}
#qrCode {
  width: 20rem; height: 20rem;
  margin: 0 0 5rem;
  background-image: url('../Assets/qr.png');
}
#updateBanner {
  width: var(--innerWidth); height: 19rem;
}
#icon, #qrCode, #updateBanner {
  border-radius: var(--smallRadius);
}

#descContainer {
  width: var(--innerWidth); height: 35rem;
  margin-top: 2.5rem;
  overflow: hidden auto;
}
p#description {
  font-size: 3em;
  word-break: break-word;
  color: var(--interface300);
}

.hint {
  font-size: 2.4rem;
  font-weight: 800;
  color: var(--interface200);
}

#openText { margin: 6rem 0 2rem; }

#open, #download { text-align: center; }
#open { min-width: 29.5rem; margin: 0; }
#downloadTelegram { margin-bottom: 2.5rem; }
#download { min-width: 30rem; }

#telegram { margin: 3rem; }
