@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import "./CSS/interface.css";

html {
  font-size: 1.085vmin;
  background-color: var(--interface300);
}
body {
  width: 100vw;
  min-height: 94vh;
  max-height: 100vh;
  overflow: hidden;
  margin: 0;
  overscroll-behavior: none !important;
  user-select: none;
}
body, h1, h2, h3, h4, p, button {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
.flexBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.centerBg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
